.logo img {
  height: 100px;
  width: auto;
}
.header-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 5px; /* space between logo and text */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mat-mdc-menu-item {
  font-family: var(--primary-font) !important;
}
.aySpan {
  color: var(--secondary-color);
  font-weight: 500;
}
