header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}

footer {
  position: sticky;
  flex-shrink: 0;
  bottom: 0;
  z-index: 1000;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
main {
}
