.list-enquiry-header h2 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 400;
}
.list-enquiry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enq-tbl-container {
  margin-top: 15px;
}

::ng-deep .enq-table .mat-mdc-header-cell,
::ng-deep .enq-table .mat-mdc-cell {
  font-family: var(--primary-font) !important;
  font-weight: 400 !important;
  color: var(--primary-color) !important;
}
::ng-deep .enq-table .mat-mdc-cell {
  border-right: 1px solid var(--primary-color) !important;
}
::ng-deep .enq-table .mat-mdc-header-cell {
  font-family: var(--primary-font) !important;
  font-weight: 600 !important;
  color: var(--primary-color) !important;
  font-size: 14px !important;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  /* background: linear-gradient(to bottom, #f8f9fa 0%, #f1f3f5 100%); */
  background-color: #fcdcbe !important;
  border-bottom: 1px solid var(--primary-color) !important;
  padding: 18px 16px !important;
}
::ng-deep .enq-table .mat-mdc-cell:first-child {
  border-right: 1px solid var(--secondary-color) !important;
  background-color: #fcdcbe;
  /* border-bottom: none !important; */
}

::ng-deep .enq-table .mat-mdc-header-cell:last-child,
::ng-deep .enq-table .mat-mdc-cell:last-child {
  border-right: none !important;
}
::ng-deep .enq-table .mat-mdc-row:last-child .mat-mdc-cell {
  border-bottom: 1px solid var(--primary-color) !important;
}
/* Actions column alignment */
::ng-deep .enq-table .mat-mdc-cell {
  vertical-align: middle !important;
}

/* Action buttons container */
.actions-cell {
  display: flex;
  align-items: center;
  gap: 4px; /* Adjust this value for spacing between icons */
}

/* Reduce button padding */
::ng-deep .enq-table .mat-mdc-icon-button {
  width: 22px !important;
  height: 22px !important;
  padding: 0 !important;
}
