<div class="service-selection-container">
  <div class="content">
    <div class="service-selection-header">
      <h2 style="font-family: var(--primary-font)">
        <span class="text-focus-in">
          <span style="color: var(--primary-color)">Welcome</span>&nbsp;<b
            style="color: var(--secondary-color)"
            >{{ userName }} <span style="font-size: 40px">&hearts;</span></b
          >
        </span>
        <p style="font-size: 16px" class="text-focus-in">Please make a selection..</p>
      </h2>
    </div>
    <div class="card-container text-focus-in">
      <!-- DAYCARE -->
      <div (click)="onSelect('daycare')">
        <mat-card class="service-card">
          <img src="/daycare-logo1.png" alt="Redirect to Day Care" />
          <mat-card-content>
            <p>Day Care</p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- PRESCHOOL -->
      <div (click)="onSelect('preschool')">
        <mat-card class="service-card">
          <img src="/preschool-logo1.png" alt="Redirect to Pre School" />
          <mat-card-content>
            <p>Pre-School</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
