/* You can add global styles to this file, and also import other style files */
.app-wrapper {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
:root {
  --primary-color: #374151;
  --secondary-color: #f6881f;
  --primary-font: 'Inter', sans-serif;
}
.all-buttons {
  color: var(--primary-color) !important;
  font-family: var(--primary-font) !important;
  font-weight: 400 !important;
}
.all-buttons:hover {
  color: var(--primary-color) !important;
  background-color: color-mix(in srgb, var(--secondary-color), transparent 60%);
}

.primary-font {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-color);
}

.secondary-font {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--secondary-color);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.container {
  height: 100%;
  padding: 0;
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  display: none;
}
